In [2]:
import pandas as pd
import os

In [3]:
file_list = os.listdir()
file_list = [name for name in file_list if name.startswith("olist")]
file_list

['olist_orders_dataset.csv',
 'olist_customers_dataset.csv',
 'olist_order_items_dataset.csv']

In [7]:
files = {}
for file in file_list:
    files['{}'.format(file).split('.')[0]] = pd.read_csv('{}'.format(file))
olist_orders_dataset = files['olist_orders_dataset']
olist_customers_dataset = files['olist_customers_dataset']
olist_order_items_dataset = files['olist_order_items_dataset']

In [18]:
one_order_customers = (
    olist_orders_dataset.merge(olist_customers_dataset, how='inner', on='customer_id')
        .groupby('customer_unique_id')
        .agg({'order_id': 'count'})
        .reset_index()
        .query("order_id == 1")['customer_unique_id']
        .nunique()
)
one_order_customers
# first task - 93099

93099

In [13]:
olist_customers_dataset

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP
...,...,...,...,...,...
99436,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,3937,sao paulo,SP
99437,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,6764,taboao da serra,SP
99438,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,60115,fortaleza,CE
99439,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,92120,canoas,RS
99440,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,6703,cotia,SP